<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>414924023560-vf4v2lsm72l360e5ratquqldvslpr862.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.414924023560-vf4v2lsm72l360e5ratquqldvslpr862</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>414924023560-k05kalrm544k5kf1h3akv0ajve3dtb5o.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCTUStR1YEg-avSSeoZQTBx4qdM84jZw14</string>
	<key>GCM_SENDER_ID</key>
	<string>414924023560</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.guayoyo.tecnoagro</string>
	<key>PROJECT_ID</key>
	<string>palcarro-c7561</string>
	<key>STORAGE_BUCKET</key>
	<string>palcarro-c7561.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:414924023560:ios:661d78a9718fb7f1bfaebd</string>
</dict>
</plist>